body{
    max-width: 1200px;
    min-width:900px;
    min-height: 500px;
    background-color: rgb(255, 250, 244);
    margin-left: auto;
    margin-right: auto;
}

#container{
background-color: white;
margin:auto;
padding-bottom: 10px;
}

#title{
    font-size: 60px;
    background-color: rgb(255, 247, 177);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    padding:10px;
}

#description{
    align-items: center;
    background-color: aliceblue;
    font-size: 30px;
    width: 500px;
    height: auto;
    float:right;
    padding:20px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom: 100px;
}

#navigation{
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    margin:0px;
    float:inline-end;
}

#nav{
    list-style-type: none;
    margin:0;
    padding:0;
    width: 250px;
    background-color: azure;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #04AA6D;
    color: white;
}

#credits{
    font-size: 20px;
    margin-top: 200px;
    background-color: rgb(146, 146, 146);
    width:100%-20px;
    text-align: right;
    padding-right:20px;
}

#pro{
    max-width: 1200px;
    min-width: 100%;
    border-color: #000;
    border: 1px solid;
    margin-left:20px,20px;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

#cert{
    font-size: 20px;
    margin-top:100px;
    margin-left:20px;
    width: 100%;

}

#certs{
    margin-left: 30px;
}

#cert1{
    margin-bottom: 30px;
    font-size: 30px;
}

#pdis{
    margin-top:20px;
    font-size: 20px;
    width: 100%-10px;
    background-color: bisque;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 10px;
}

#project3{
    text-align: center;

}

#project4{
    margin-top:50px;
    margin-bottom: 5px;
}